// Inspired by CSS-Tricks Don't Overthink It Grid: http://css-tricks.com/dont-overthink-it-grids
// I try to do things as simply as possible. Big grid frameworks usually aren't necessary.
// If you need one, you can replace this file with the grid of your choice. Note that this is file
// doesn't exactly replicate the CSS-Tricks exactly, but rather shares the same concept.

// this class is applied in page.tpl.php to the page elements that are grid containers
.grid-container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 ($pad / 2);
  position: relative;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// layout for header regions
.region-branding,
.region-menu {
  float: left;
  width: 100%;
  @include breakpoint($desk) {
    width: 50%;
  }
}

.grid-1-3,
.grid-2-3,
.grid-3-3,
.grid-1-2 {
  width: 100%;
}

@include breakpoint($desk) {
  // additional grid classes added to Panels panes for layout.

  // two-thirds width
  .grid-2-3 {
    float: left;
    padding: 0 $pad * .5;
    width: 67%;
    &:after {
      @include clear-it;
    }
    &.last {
      padding-right: 0;
    }
    &.first {
      padding-left: 0;
    }
  }
  // one-third width
  .grid-1-3 {
    float: left;
    padding: 0 $pad * .5;
    width: 33%;
    &:after {
      @include clear-it;
    }
    &.last {
      padding-right: 0;
    }
    &.first {
      padding-left: 0;
    }
  }
  // one-half width
  .grid-1-2 {
    float: left;
    padding: 0 $pad * .5;
    width: 50%;
    &:after {
      @include clear-it;
    }
    &.last {
      padding-right: 0;
    }
    &.first {
      padding-left: 0;
    }
  }
}

@include breakpoint($desk) {

  .no-sidebars .region-content {
    float: left;
    width: 67%;
    &:after {
      @include clear-it;
    }
  }

  // one sidebar, sidebar second
  .one-sidebar.sidebar-second {
    .region-content {
      float: left;
      padding-right: $pad;
      width: 67%;
      &:after {
        @include clear-it;
      }
    }
    .region-sidebar-second {
      clear: none;
      float: left;
      width: 33%;
    }
  } // end one sidebar, sidebar second
} // end $desk breakpoint
