// header
.header-wrapper,
.preface-wrapper {
  width: 100%;
}

.header-wrapper {
  background: $dark-gray;
//  height: 95px;
  padding: 1rem 0;
  border-bottom: 1px solid $light-gold;
  @include breakpoint($desk) {
	  padding: 0;
  }
}

.not-front .header-wrapper {
  margin-bottom: 1rem;
}

img.header__logo-image {
  height: 63px;
}

.header__logo-image {
  float: left;
  height: auto;
  margin-right: 1em;
  position: relative;
}

.header__name-and-slogan {
  @include element-invisible;
  float: left;
 }

.region-branding {
  float: left;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;
}

.front .region-branding {
  @include breakpoint($desk) {
  	position: absolute;
		top: 40px;
    padding-bottom: 0;
  }	
}

// preface region

.preface-wrapper {
  margin-bottom: 1rem;
  img {
    height: auto;
    width: 100%;
  }
  .page-title {
    bottom: 2rem;
    color: $white;
    left: 0;
    max-width: 646px; // maximum width of content region at desktop breakpoint of 60em
    padding-left: $pad / 2;
    position: absolute;
    z-index: 10;
  }
}

// content region

#content {
}

#content .messages {
  margin-bottom: $vert-spacing * .5;
  padding: 20px;
  &.status {
    border: 1px solid darken($info, 20%);
  }
}

.region-sidebar-second {
//	overflow: hidden;
	@include breakpoint($desk) {
	@include background-image(linear-gradient($white, $beige));
	border-left: 1px solid $dark-beige;
	border-right: 1px solid $dark-beige;
	padding: 20px;		
		&:before {
			content: "";
			display: block;
			height: 8px;
			width: 115.5%;
			position: relative;
			top: -20px;
			left: -22px;
			border-bottom: 1px solid $dark-gray;
			background-color: $blue;
		}
	}
}

.front .region-sidebar-second {
  @include breakpoint($desk) {
    margin-top: -6rem;
    min-height: 15rem;
  }
}

// postscript region

.postscript-wrapper {
	background-color: $blue;
	
	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		background-color: $light-gold;
		border-top: 1px solid $dark-gray;
		top: 0;
	}
	
	&:after {
		top: inherit;
		bottom: 0;
		border-top: none;
		border-bottom: 1px solid $dark-gray;
	}
	
	.postscript {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	p, a {
		color: $white;
	}
	
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}


// footer region

footer {
  clear: both;
  padding: 7px 0;
}

.footer-wrapper {
	background-color: $black;
	p, a {
		color: $white;
	}
	
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.region-footer {
  padding: 10px 0;
}

.copyright {
  padding-bottom: 10px;
  p {
    float: left;
    font-size: $base-font-size * .625;
  }
}
