// header
.header-wrapper,
.preface-wrapper {
  width: 100%;
}

.header-wrapper {
  background: $dark-gray;
  height: 95px;
  padding: 1rem 0;
}

.not-front .header-wrapper {
  margin-bottom: 1rem;
}

img.header__logo-image {
  height: 63px;
}

.header__logo-image {
  float: left;
  height: auto;
  margin-right: 1em;
  position: relative;
}

.header__name-and-slogan {
  float: left;
 }

.region-branding {
  float: left;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;
  @include breakpoint($desk) {
    padding-bottom: 0;
  }
}

// preface region

.preface-wrapper {
  margin-bottom: 1rem;
  img {
    height: auto;
    width: 100%;
  }
  .page-title {
    bottom: 2rem;
    color: $white;
    left: 0;
    max-width: 646px; // maximum width of content region at desktop breakpoint of 60em
    padding-left: $pad / 2;
    position: absolute;
    z-index: 10;
  }
}

// content region

#content {
  background: $base-color;
}

#content .messages {
  margin-bottom: $vert-spacing * .5;
  padding: 20px;
  &.status {
    background: $info;
    border: 1px solid darken($info, 20%);
  }
}

.front .region-sidebar-second {
  @include breakpoint($desk) {
    background: $white;
    margin-top: -6rem;
    min-height: 15rem;
  }
}

// postscript region


// footer region

footer {
  clear: both;
}

.region-footer {
  padding: 10px 0;
}

.copyright {
  padding-bottom: 10px;
  p {
    float: left;
    font-size: $base-font-size * .625;
  }
}
