// views styles

.view .row {
  margin-bottom:  $vert-spacing * .5;
  padding-bottom:  $vert-spacing * .5;
  p:last-child {
    margin-bottom: 0;
  }
}

.view .row.last {
  border-bottom: none;
}

.view-front-feature img {
  display: block;
}

// events view layout modification

.event-item {
  margin-bottom:  $vert-spacing * .5;
  overflow: hidden;
  padding-bottom:  $vert-spacing * .5;
  &.last {
    margin-bottom: 0;
  }
  @include breakpoint($desk) {
    margin-bottom:  0;
    padding-bottom:  0;
  }
}

.event-item .grid-2-3 {
  float: left;
  padding: 0 $pad * .5;
  width: 67%;
  &:after {
    @include clear-it;
  }
  &.last {
    padding-right: 0;
  }
  &.first {
    padding-left: 0;
  }
}
// one-third width
.event-item .grid-1-3 {
  float: left;
  padding: 0 $pad * .5;
  width: 33%;
  &:after {
    @include clear-it;
  }
  &.last {
    padding-right: 0;
  }
  &.first {
    padding-left: 0;
  }
}
