// views styles

.view .row {
  margin-bottom:  $vert-spacing * .5;
  padding-bottom:  $vert-spacing * .5;
  p:last-child {
    margin-bottom: 0;
  }
}

.view .row.last {
  border-bottom: none;
}

.view-front-feature img {
  display: block;
}
